TTS==0.22.0
torch>=1.9.0
numpy==1.21.6
scipy
soundfile
unidecode
inflect
#opencv-python
moviepy
ffmpeg-python
gdown
matplotlib
numba
pysoundfile
pytorch-lightning==1.6.5
audioread
python_speech_features
torchvision
